/first/nbproject/private/
/random/nbproject/private/
/blog/nbproject/private/
/quiz1shoutbox/nbproject/private/
/slimfirst/nbproject/private/
/slimblog/nbproject/private/
/slimtodo/nbproject/private/
/slimimage/nbproject/private/
/todorest/nbproject/private/
/friendsrest/nbproject/private/
/quiz2auctions/nbproject/private/
/PhPClient/nbproject/private/