
{% extends "master.html.twig" %}

{% block title %}Fatal Error{% endblock %}

{% block content %}
    <p>Fatal Error, Ninjas are currently focusing their chi to resolve the issue</p>
    <img src="/images/ninja.png">
{% endblock %}
