<!DOCTYPE html>
<html>
    <head>

        <link rel="stylesheet" href="/styles.css" />
        <title>{% block title %}{% endblock %} - Slim Blog</title>
        {% block addhead %}
        {% endblock %}
    </head>
    <body>
        <div id="centeredContent">{% block content %}{% endblock %}
            <div id="footer">&copy; Copyright 2019 by <a href="http://localhost:8001/">Roberto</a>.</div>
            <!---- TODO: add Google Analytics tracking code --->
        </div>
    </body>
</html>