{% extends "master.html.twig"%}

{% block title %}Todo List{% endblock %}
{% block content %}
    {% if errorList %}
        <ul class="error">
            {% for error in errorList %}
                <li>{{error}}</li>
                {% endfor %}
        </ul>
    {% endif %}

    <form method="post">
        Task: <input type="text" name="task"><br>
        Due Date: <input type="date" name="dueDate"><br>
        Completion:   <select name="isDone">
            <option value="true">True</option>
            <option value="false">False</option>
        </select>
        <input type="submit" value="Add">
    </form> 
{% endblock %}