{% extends "master.html.twig"%}

{% block title %}Todos{% endblock %}
{% block content %}
<div class="todoList">
    {% for a in al %}
        <div class="todoHead">
            <b>{{a.task}}</b>
            <br>Due Date: {{a.dueDate}} Completion: {{a.isDone}}<br>            
        </div>
    {% endfor %}
</div>
    {% endblock %}