body{
    background-color: lightgray;
    margin: 0;
    padding: 0;
}

#centeredContent{
    margin: 0 auto;
    padding: 20px;
    width: 960px;
    background-color: white;
}

.error{
    font-weight: bold;
    color: red;
}